__pycache__/ 
activate.csh
.idea/ 
migrations/
.DS_Store
.DS_Store/
my_app/.idea/
workspace.xml
env/
venv/
idea/
migrations/
.DS_Store
my_app/.idea/
workspace.xml
env/
venv/
my_app/my_app/my_app/__pycache__/
my_app/my_app/api_app/__pycache__/
dump.rdb
my_app/my_app/redis-data/
my_app/my_app/redis.conf/
